/* add basic style*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: black;
  color: white;
}

header {
  text-align: center;
}

.container {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #dddddd;
}

h2 {
  padding-bottom: 20px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

h1 {
  line-height: 40px;
  font-size: 30px;
}

h4,
h3,
p {
  line-height: 40px;
  padding-bottom: 15px;
}

.row {
  background-origin: padding-box;
  box-shadow: #dddddd;
}

#currentWord {
  letter-spacing: 10px;
}
